* {
    font-family: "Roboto", sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100dvh;
    background: linear-gradient(#0a0a0a, oklch(0.2442 0.0412 194.77));
}

h1 {
    color: darkcyan;
    font-weight: bold;
    font-size: 20vw;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

button {
    background-color: darkcyan;
    border: none;
    padding: 2vw;
    border-radius: 100vw;
    font-weight: bold;
    font-size: 3vw;
    cursor: pointer;
}